<h2>Edit Your Wine Below</h2>
<%= form_for @wine do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :maker %><br />
    <%= f.text_field :maker %>
  </div>
  <br>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <br>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Save Wine' %>
  </div>

<% end %>
<br>
<hr>
