<nav>
  <% if current_user.id == Product.find(params[:id]).user_id %>
    <%= link_to 'Edit Wine', edit_product_path %>
    <%= link_to 'Delete Wine',  @wine, method: :delete %>
    <%= link_to 'Add A Wine', new_product_path %>
    <%= link_to 'My Account', edit_user_registration_path %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Add A Wine', new_product_path %>
    <%= link_to 'My Account', edit_user_registration_path %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% end %>
</nav>

<h1><%= @wine.name %></h1>
<ul>
  <li><b>Made By: </b> <%= @wine.maker %> </li>
  <li><b>From: </b> <%= @wine.location %> </li>
  <li><b>Year Made: </b> <%= @wine.year %> </li>
</ul>
<hr>
<nav>
  <%= link_to 'Add Review', new_product_review_path(@wine) %>
</nav>
<br>
<%= render partial: "reviews/index", collection: @reviews %>
<br>
