<h2> Edit Your Review Below </h2>
<%= form_for [@wine, @review] do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Save Review' %>
  </div>

<% end %>
<br>
<hr>
<h4>You can delete your review here</h4>
<%= link_to 'Delete Review', [@wine, @review], method: :delete %>
