<h2> Write Your Review Below </h2>
<%= form_for [@wine, @review] do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Add Review' %>
  </div>

<% end %>
<br>
<hr>
<br>
<p>Go Back To<%= link_to, 'Home Page', root_path %></p>
